<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/027c90a952.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="products.js"></script>
    <title>Online lessons App</title>
</head>

<body>



    <div id="app">

        <header>
            <nav>
                <div class="nav">
                    <ul>
                        <h2 v-text="sitename"></h2>
                    </ul>

                    
                    <button class="nav-button" v-on:click="showCheckout"> {{ itemsInTheCart }}
                        <span class="fa-solid fa-cart-shopping fa-2xs"> </span> Checkout
                    </button>
                </div>
            </nav>
        </header>


        <main>

            <div id="filters">
                <label for="sortOption"> Sort by:</label>
                <select id="sortOption" v-model="sortOption" class="filters">
                    <option value="price">Price</option>
                    <option value="title">Title</option>
                    <option value="location">Location</option>
                    <option value="spaces">Availability</option>
                </select>
                <label> <input type="radio" class="radio-asc" value="asc" v-model="sortOrder"> lowest </label>
                <label> <input type="radio" id="radio" value="desc" v-model="sortOrder"> highest </label>
            </div>

            <div v-if="showProduct">
                <div v-for="product in sortedProducts" :key="product.id">
                    <figure>
                        <img v-bind:src="product.image" alt="image">
                    </figure>


                    <h1 v-text="product.title"></h1> <br>
                    <p v-text="product.description"></p> <br>
                    <p>Price: {{product.price}}</p> <br>

                    <div>
                        <span v-for="n in product.rating">★</span>
                        <span v-for="n in 5 - product.rating">☆</span>
                    </div> <br>

                    <button class="hb" v-if="canAddToTheCart(product)" v-on:click="addItemToTheCart(product)">Add To The
                        Cart</button>
                    <button class="hbd" v-else disabled>Add To The Cart</button>


                    <span v-if="itemsLeft(product) === 0"> All Out!</span>
                    <span v-else-if="itemsLeft(product) <5"> Only {{itemsLeft(product)}} left!</span>
                    <span v-else> Buy now!</span>
                </div>
            </div>


            <div class="Checkout" v-else>
                <h1>Welcome to the Checkout page</h1>
                <p> <br>
                    <strong> Name: </strong>
                    <input type="text" class="form-input" v-model.trim="order.name">
                </p> <br>
                <p>
                    <strong> Surname: </strong>
                    <input type="text" class="form-input" v-model.trim="order.surname">
                </p> <br>
                <p>
                    <strong> Email Address: </strong>
                    <input type="text" class="form-input" v-model.trim="order.address">
                </p> <br>
                <p>
                    <strong>State: </strong>
                    <select class="form-input" v-model="order.State">
                        <option disabled selected>Select State</option>
                        <option v-for="(state, key) in states" v-bind:value="key">{{state}}</option>
                    </select>
                </p> <br>
                <p>
                    <strong> Zip/Postal code: </strong>
                    <input type="alphanumeric" class="form-input" v-model.number="order.Zip">
                </p> <br>
                <p>
                    <input type="checkbox" id="gift" v-model="order.gift" :true-value="order.sendGift"
                        :false-value="order.doNotSendGift">
                    <label for="gift">Send as a gift? </label>
                </p> <br>
                <p>
                    <input type="radio" id="home" value="Home" v-model="order.method">
                    <label for="home">Home</label>

                    <input type="radio" id="business" value="Business" v-model="order.method">
                    <label for="business">Business</label>
                </p> <br>



                <h2> Order Information </h2> <br>

                <p> <strong> Name: </strong> {{order.name}} </p> <br>
                <p>
                    <strong> Surname: </strong> {{order.surname}}
                </p> <br>
                <p>
                    <strong> Email Address: </strong> {{order.Address}}
                </p> <br>
                <p>
                    <strong>State:</strong> {{order.State}}
                </p> <br>
                <p>
                    <strong> Zip/Postal code: </strong> {{order.Zip}}
                </p> <br>
                <p>
                    <strong> Gift? </strong> {{order.gift}}
                </p> <br>
                <p>
                    <strong> Delivery Address: </strong> {{order.method}}
                </p> <br>
                <button class="hb" v-on:click="submitCheckOutForm"> Place Order </button>
            </div>
        </main>


        <script>
            let webstore = new Vue({
                el: "#app",
                data: {
                    sortOption: 'price',
                    sortOrder: 'asc',
                    sitename: "Online lessons",
                    showProduct: true,
                    products: products,
                    cart: [],
                    order: {
                        name: "",
                        surname: "",
                        address: "",
                        State: "",
                        Zip: "",
                        gift: "Do not send as a gift",
                        sendGift: "Send as a gift",
                        doNotSendGift: "Do not send as a gift",
                        method: "Home"
                    },

                    states: {
                        AL: "Alabama",
                        AR: "Arizona",
                        CA: "California",
                        NV: "Nevada"
                    }
                },

                methods: {
                    showCheckout: function () {
                        this.showProduct = !this.showProduct;
                    },
                    addItemToTheCart: function (product) {
                        this.cart.push(product.id);
                    },
                    submitCheckOutForm() {
                        alert("Congratulations, order submitted :)");
                    },
                    canAddToTheCart(product) {
                        return product.availableInventory > this.cartCount(product.id);
                    },
                    cartCount(id) {
                        return this.cart.filter(cartID => cartId === id).length;
                    },
                    itemsLeft(product) {
                        return product.availableInventory - this.cartCount(product.id);
                    },

                    toggleSortOrder() {
                        this.sortOrder = this.sortOrder === 'asc' ? 'desc' : 'asc';
                    }
                },

                computed: {
                    itemsInTheCart() {
                        return this.cart.length || "";
                    },

                    sortedProducts() {
                        return [...this.products].sort((a, b) => {
                            let modifier = this.sortOrder === 'asc' ? 1 : -1;
                            if (a[this.sortOption] < b[this.sortOption]) return -1 * modifier;
                            if (a[this.sortOption] > b[this.sortOption]) return 1 * modifier;
                            return 0;
                        });

                    }

                }
            });
        </script>
</body>

</html>